.Header {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    
}

.Header a {
    font-family: 'Butterfly Kids', cursive;
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    text-align: center;
    color: blueviolet;
    text-decoration: none;
}