.Header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    
}

.Header a {
    font-family: 'Butterfly Kids', cursive;
    font-weight: bolder;
    font-size: 40px;
    text-decoration: none;
}

.HeaderLayout {
    padding: 10px;
    display: flex;
    text-align: center;
}